{% extends "base.html" %}
{% block content %}

    <div>
        <form action="/users/account/" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" value = {{ current_user.name }}>

            <label for="email">Email:</label>
            <input type="text" name="Email" value = {{ current_user.email }}>

            <button>Update</button>
        </form>
    </div>

    <br><br>

    <h3>Owned Keyboards:</h3>
    <ul>
        {% for keyboard in current_user.owned_keyboards %}
            <li><a href="/keyboards/{{ keyboard_id }}/">{{ keyboard.keyboard_name }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}